<ul>
<li class="text-orange-600 mt-2"><a href="#spec">Spec</a></li>
<li class="text-orange-600 mt-2"><a href="#comment">Comment</a></li>
<li class="text-orange-600 mt-2"><a href="#key-value-pair">Key/Value Pair</a></li>
<li class="text-orange-600 mt-2"><a href="#keys">Keys</a></li>
<li class="text-orange-600 mt-2"><a href="#string">String</a></li>
<li class="text-orange-600 mt-2"><a href="#integer">Integer</a></li>
<li class="text-orange-600 mt-2"><a href="#float">Float</a></li>
<li class="text-orange-600 mt-2"><a href="#boolean">Boolean</a></li>
<li class="text-orange-600 mt-2"><a href="#offset-date-time">Offset Date-Time</a></li>
<li class="text-orange-600 mt-2"><a href="#local-date-time">Local Date-Time</a></li>
<li class="text-orange-600 mt-2"><a href="#local-date">Local Date</a></li>
<li class="text-orange-600 mt-2"><a href="#local-time">Local Time</a></li>
<li class="text-orange-600 mt-2"><a href="#array">Array</a></li>
<li class="text-orange-600 mt-2"><a href="#table">Table</a></li>
<li class="text-orange-600 mt-2"><a href="#inline-table">Inline Table</a></li>
<li class="text-orange-600 mt-2"><a href="#array-of-tables">Array of Tables</a></li>
<li class="text-orange-600 mt-2"><a href="#filename-extension">Filename Extension</a></li>
<li class="text-orange-600 mt-2"><a href="#mime-type">MIME Type</a></li>
</ul>