<section class="bg-white ph-8">
  <header class="">
    <h2 class="p-4 text-2xl font-semibold tracking-tight bg-orange-800 text-left text-orange-100">
      Try TOML
    </h2>
    <p class="mt-8 px-4 text-gray-600">Give TOML a try by converting to and from JSON, JSON5, YAML and TOML.</p>
  </header>

  <form class="mt-8">
    <pre class="whitespace-pre-line text-white h-64 json" data-controller="snippet"><code class="json">// json input here

      { foo: "bar" }
    </code></pre>

    <div class="mt-4 flex items-center px-4">
      <label class="w-12 text-right uppercase text-sm font-bold text-gray-700" for="from">From</label>
      <div class="flex-1 relative ml-4">
        <select
          class="inline-block appearance-none bg-white w-full border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="from">
          <option>JSON</option>
          <option>JSON5</option>
          <option>YAML</option>
          <option>TOML</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
        </div>
      </div>
    </div>

    <div class="mt-2 flex items-center px-4">
      <label class="w-12 text-right uppercase text-sm font-bold text-gray-700" for="from">To</label>
      <div class="flex-1 relative ml-4">
        <select
          class="inline-block appearance-none bg-white w-full border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="from">
          <option>JSON</option>
          <option>JSON5</option>
          <option>YAML</option>
          <option selected>TOML</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
        </div>
      </div>
    </div>

    <pre class="whitespace-pre-line text-white toml mt-4 h-64" data-controller="snippet"><code class="code h-64 rounded-lg mt-4" contenteditable="true"># toml output here

      foo = "bar"
    </code></pre>
  </form>
</section>
