/* See https://tailwindcss.com for more about Tailwind CSS */

@tailwind base;
@tailwind components;

/*
  Overriding styles or extracted components go here, see:

  https://tailwindcss.com/docs/adding-base-styles
  https://tailwindcss.com/docs/extracting-components
*/

@tailwind utilities;

/*
  Completely custom CSS goes here, see:

  https://tailwindcss.com/docs/adding-new-utilities
*/
