@tailwind base;
@tailwind components;

.title {
  @apply text-2xl tracking-tight font-semibold
}

.code {
  @apply block p-4 h-84 bg-gray-900 mx-4 text-sm
}

.tab-active {
  @apply bg-gray-900 text-gray-600 rounded-b
}

@tailwind utilities;
