@tailwind base;
@tailwind components;

.mt-1\/2 {
  margin-top: 0.125rem;
}

.marketing-title {
  @apply text-xl tracking-tight font-semibold;
}

.section-title {
  @apply marketing-title text-2xl;
}

.feature-title {
  @apply section-title text-orange-900 mb-2;
}

@tailwind utilities;
